.dropdown {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.delete {
    background: url(/trash.svg) no-repeat 50% 50%/contain;
    transition: all .3s ease-in-out;
    align-self: flex-end;
    margin: 0 0 0 10px;
    cursor: pointer;
    display: block;
    height: 20px;
    width: 20px;
}

.delete:hover {
    filter: brightness(0) saturate(100%) invert(53%) sepia(66%) saturate(383%) hue-rotate(99deg) brightness(97%) contrast(117%);
}
